{% extends "bootstrap_base.html" %}

{% block title %}{% if title %}{{title}}{% else %}Dashboard{% endif %}{% endblock %}

{% block body_content %}

  {% block navbar_wrapper %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/tlm">Dashboard</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/tlm">Telemetry</a></li>
	      <li><a href="/cmd">Commands</a></li>
              <li><a href="/link_stats">Link Status</a></li>
            </ul>
	      <div id="liveUpdate">
		{% include 'navbar_live.html' %}
	      </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  {% endblock %}

  {% block container_wrapper %}
    <div class="container container-primary">
      {% block container %}

        {% with messages = get_flashed_messages() %}
        {% if messages %} 
          {% for message in messages %}
          <div class="alert alert-info">
            {{ message }}
	  </div>
          {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

      {% endblock %}
    </div>
  {% endblock %}

{% endblock %}

{% block bootstrap_js_bottom %}
<script type=text/javascript src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
  {{super()}}
<script type=text/javascript src="{{ url_for('static', filename='navbar_live.js') }}"></script>

{% endblock %}
