{% extends "base.html" %}

{% block content %}

<h4> Select series for plotting from {{schema.name}}: </h4>
  
  
  <form class="form form-horizontal" method="post">
    <div class="control-group">
      <label class="control-label">Number of points to plot:</label>
      <div class="controls">
	<input type="text" name="num_points" value="50">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Refresh interval (ms):</label>
      <div class="controls">
	<input type="text" name="interval" value="500">
      </div>
    </div>
    {% for f in schema.fields %}
      {% if f.name=='__padding' %}
        {% continue %}
      {% endif %}
    {% if 'array' in f %}
    {% for elem in range(f['array']) %}
    <div class="control-group">
      <label class="control-label"><code>{{f.type}} {{f.name}}[{{elem}}]</code></label>
      <div class="controls">
	<input type="checkbox" name="{{f.name}},{{elem}}" value="">
	<span class="help-inline">{{f.description}}</span>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="control-group">
      <label class="control-label"><code>{{f.type}} {{f.name}}</code></label>
      <div class="controls">
	<input type="checkbox" name="{{f.name}}" value="">
	<span class="help-inline">{{f.description}}</span>
      </div>
    </div>
    {% endif %}

    {% endfor %}

    <div class="control-group">
      <div class="controls">
	<button type="submit" class="btn">Send</button>
      </div>
    </div>
  </form>

{{fields}}


{% endblock %}   
